/* This section is about course programs section */

#course-programs{
    width: 100%;
    height: 1400px;
}

.programs-main-div{
    display: flex;
    justify-content: center;
    width: 1690px;
}

.programs-flex{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 50px;
    width: 1500px;
}

.course-programs{
    width: 410px;
    height: 325px;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 40px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.program-image{
    width: 100%;
    height: 50%;
}

.programs-header{
    font-weight: 700;
    font-size: 26px;
    padding-left: 20px;
}

.programs-text{
    font-size: 25px;
    margin-left: 20px;
    font-weight: 400;
}

.inline-exception{
    display: inline;
}

@media screen and (min-width:320px) and (max-width:991px) {
    #course-programs{
        height: 5160px;
    }

    .programs-flex{
        width: 800px;
        margin-left: 0;
    }

    .programs-main-div{
        width: 1400px;
    }

    .course-programs{
        width: 660px;
        height: 525px;
        border-radius: 45px;
        margin-top: 80px;
    }

    .programs-header{
        margin-top: 10px;
        font-size: 50px;
        line-height: 1.3;
    }

    .programs-text{
        font-size: 45px;
        line-height: 1.3;
    }

    .responsive-margin{
        margin-top: 40px;
    }
}