/* This section is about site header */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 1300px;
}

.header{
    font-family: "Roboto Slab";
    font-size: 65px;
    font-weight: 700;
}

.header-margin{
    margin-left: 90px;
}

.header-top-padding{
    padding-top: 100px;
}

.header-main-div{
    display: flex;
    width: 91%;
}

.header-div{
    width: 1150px;
}

.sync-image{
    width: 132px;
    height: 76px;
    margin-top: 20px;
    margin-left: 90px;
}

.icon{
    width: 32px;
    height: 31px;
}

.icon-flex{
    display: flex;
    margin-top: 80px;
    margin-left: 40px;
}

.icon-text{
    margin-left: 9px;
    font-size: 20px;
}

.icon-main-div{
    display: flex;
    margin-left: 50px;
}

h1{
    font-family: "Roboto Slab";
    font-weight: 700 !important;
    font-size: 120px !important;
    margin-left: 90px;
    margin-top: 20px !important;
}

.header-description{
    margin-left: 90px;
    font-size: 30px;
}

.person-image{
    width: 404px;
    height: 480px;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.quote-div{
    background-color: #1E4681;
    width: 490px;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
}

.quote-text{
    color: #ffffff;
    font-size: 25px;
}

.quote-author{
    color: #ffffff;
    text-align: right;
    font-size: 20px;
}

@media screen and (min-width:320px) and (max-width:991px){
    
    html,body{
        width: 1800px;
    }

    header{
        width: 100%;
        height: 2100px;
    }

    h1{
        font-size: 140px !important;
        line-height: 1 !important;
    }

    .sync-image{
        margin-top: 80px;
        width: 182px !important;
        height: 106px !important;
    }

    .header-main-div{
        display: block;
        width: 1200px;
    }

    .header-description{
        margin-left: 90px;
        margin-top: 50px !important;
        font-size: 40px;
    }

    .person-image-div{
        text-align: right;
    }

    .person-image{
        width: 494px !important;
        height: 580px !important;
    }

    .icon{
        margin-top: 10px;
        width: 37px;
        height: 36px;
    }

    .icon-text{
        margin-left: 12px;
        font-size: 35px;
    }

    .center-div{
        display: flex;
        height: 500px;
        justify-content: left;
    }

    .quote-div{
        background-color: #1E4681;
        margin-left: 90px;
        margin-top: 100px;
        width: 820px;
        height: 340px;
        padding: 40px;
        border-radius: 5px;
    }

    .quote-text{
        font-size: 43px;
    }

    .quote-author{
        font-size: 37px;
    }

}